<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal RPG | Homepage</title>
    <link rel="stylesheet" href="./output.css"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col h-screen">
    <header class="flex flex-wrap p-3 sedgewick bg-slate-900 text-slate-100">
        <h1 class="w-2/3">
            <a class="text-6xl hover:text-red-500" href="/">S</a>
        </h1>
        <nav class="flex justify-end w-1/3 gap-1 items-center text-yellow-400">
            {{#if loggedIn }}
            <a class="text-2xl" href="/portal">portal</a>
            <button class="text-2xl" id="logout">logout</button>
            {{else}}
            <a class="text-2xl" href="/login">login</a>
            {{/if}}
        </nav>
    </header>
    <main class="flex flex-col cardo text-2xl bg-slate-400">
        {{{ body }}}
    </main>
    <footer class="flex flex-col bg-slate-900 text-slate-100 p-4">
        <section class="flex items-center">
            <h2 class="flex justify-start w-2/4">
                <a class="text-2xl hover:text-red-500" href="https://github.com/VMLujanJr/character-builder" target="_blank">github</a>
            </h2>
            <h2 class="flex justify-end sedgewick w-2/4">
                <a class="text-6xl hover:text-red-500" href="/">S</a>
            </h2>
        </section>
        <div class="text-center">
            &copy; ${new Date().fullYear()} All rights reserved.
        </div>
    </footer>
</body>
</html>