{{!-- HOMEPAGE --}}

<section class="flex justify-end">
    <audio controls autoplay="1" muted="1" loop>
        <source src="/public/assets/audio/blood.mp3" type="audio/mpeg" />
    </audio>
</section>
<section class="flex flex-col items-center">
    <section class="w-full sedgewick text-center my-5">
        <h2 class="text-6xl my-2 p-2">Slayers</h2>
        <img class="w-full h-36 bg-center bg-cover no-repeat" style="background-image: url(/public/assets/images/banner.jpg);">
        </img>
        <h2 class="text-4xl sedgewick">A WORLD OF SWORDS & MAGIC</h2>
    </section>

    <!-- [ SIGN-UP LINK ] -->
    <section class="text-center w-full py-36 bg-no-repeat" style="background-image: url(/public/assets/images/characterset.jpg);">
        <a class="text-slate-100 bg-red-500 border-2 border-slate-900 outline outline-pink-500/50 text-2xl p-2 rounded-md hover:outline-blue-500/50" href="/sign-up">sign-up</a>
    </section>
</section>

<!-- [ FAQ ] -->
<section class="flex flex-col bg-slate-500 items-center">
    <div class="text-center w-96 my-5">
        <h2 class="sedgewick text-4xl border-b-2 m-2">What is Slayers?</h2>
        <p><span class="italic">Slayers</span> is an online tabletop roleplaying game platform where all your fantasies will come true.</p>
    </div>
    <div class="text-center w-96 my-5">
        <h2 class="sedgewick text-4xl border-b-2 m-2">How do I start?</h2>
        <p>
            Sign up to create a unique account. With an account at the ready, you can login to your <span class="italic">Portal</span>.
        </p>
    </div>
    <div class="text-center w-96 my-5">
        <h2 class="sedgewick text-4xl border-b-2 m-2">What is the Portal?</h2>
        <p>
            The <span class="italic">Portal</span> alllows you to create a unique character and establish a party where other characters can join!
        </p>
    </div>
</section>